In [129]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf

In [130]:
tickers = "PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK"
data = yf.download(tickers=tickers, period='1y', interval='1d', group_by='column')

[*********************100%***********************]  5 of 5 completed

In [131]:
data

            Adj Close                                                Close  \
              COM7.BK      EA.BK    KBANK.BK     PTT.BK     RCL.BK COM7.BK
Date
2021-05-20  34.653351  58.294136  119.336784  37.082794  38.015446  36.375
2021-05-21  33.700684  58.045013  117.869522  36.607372  38.236465  35.375
2021-05-24  33.819767  58.294136  115.913185  36.369663  38.678501  35.500
2021-05-25  34.057934  58.792374  121.293121  36.845085  39.341564  35.750
2021-05-27  35.367855  61.283577  118.847694  36.845085  40.446663  37.125
...               ...        ...         ...        ...        ...     ...
2022-05-13  37.250000  81.500000  142.000000  36.250000  45.500000  37.250
2022-05-17  37.500000  85.500000  144.500000  37.000000  46.250000  37.500
2022-05-18  38.500000  86.250000  144.000000  36.750000  47.250000  38.500
2022-05-19  37.500000  85.000000  142.000000  36.250000  46.000000  37.500
2022-05-20  37.750000  85.750000  144.500000  36.750000  46.750000  37.750

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2021-05-20  58.50    122.0  39.00  43.00  ...  37.125  58.75    122.0  39.75
2021-05-21  58.25    120.5  38.50  43.25  ...  36.500  58.75    121.5  38.75
2021-05-24  58.50    118.5  38.25  43.75  ...  35.500  58.50    120.5  38.50
2021-05-25  59.00    124.0  38.75  44.50  ...  35.750  59.00    119.5  38.75
2021-05-27  61.50    121.5  38.75  45.75  ...  36.250  59.25    125.0  39.00
...           ...      ...    ...    ...  ...     ...    ...      ...    ...
2022-05-13  81.50    142.0  36.25  45.50  ...  37.250  81.50    144.0  37.00
2022-05-17  85.50    144.5  37.00  46.25  ...  38.000  82.75    143.0  36.50
2022-05-18  86.25    144.0  36.75  47.25  ...  37.500  86.00    145.0  37.00
2022-05-19  85.00    142.0  36.25  46.00  ...  37.000  85.00    142.0  36.25
2022-05-20  85.75    144.5  36.75  46.75  ...  37.750  86.00    143.5  36.50

                     Volume
           RCL.BK   COM7.BK     EA.BK   KBANK.BK     PTT.BK    RCL.BK
Date
2021-05-20  44.50   7247000   4212400   19972500   76811700  19739600
2021-05-21  44.00  14357400   4274900   18864200  108867200   8873700
2021-05-24  44.00  11257400   4087200   19909300   53404300  11868900
2021-05-25  44.25   7975000  16935600   29952600   47606200  29194600
2021-05-27  44.50  22177600  28266900  172607800  201215000  26043400
...           ...       ...       ...        ...        ...       ...
2022-05-13  42.75  33105700  13604700   11506000   39847200  19793600
2022-05-17  45.75  16144300  20432900   15726500   78725500  14741000
2022-05-18  46.25  14100100  14148700   20337000   53076800   8443700
2022-05-19  45.75  13871000  10825900   10974800   33653100   4866600
2022-05-20  46.75   7105600   7472500   12285100   31182100   4919000

[242 rows x 30 columns]

In [132]:
data.Close.ta.ema(10)

[X] Ooops!!! It's True, the series 'close' was not found in COM7.BK, EA.BK, KBANK.BK, PTT.BK, RCL.BK

            COM7.BK  EA.BK  KBANK.BK  PTT.BK  RCL.BK
Date
2021-05-20   36.375  58.50     122.0   39.00   43.00
2021-05-21   35.375  58.25     120.5   38.50   43.25
2021-05-24   35.500  58.50     118.5   38.25   43.75
2021-05-25   35.750  59.00     124.0   38.75   44.50
2021-05-27   37.125  61.50     121.5   38.75   45.75
...             ...    ...       ...     ...     ...
2022-05-13   37.250  81.50     142.0   36.25   45.50
2022-05-17   37.500  85.50     144.5   37.00   46.25
2022-05-18   38.500  86.25     144.0   36.75   47.25
2022-05-19   37.500  85.00     142.0   36.25   46.00
2022-05-20   37.750  85.75     144.5   36.75   46.75

[242 rows x 5 columns]

In [133]:
data.swaplevel(0, axis=1)['KBANK.BK']

             Adj Close  Close   High    Low   Open     Volume
Date
2021-05-20  119.336784  122.0  123.5  121.0  122.0   19972500
2021-05-21  117.869522  120.5  122.0  120.0  121.5   18864200
2021-05-24  115.913185  118.5  121.0  118.5  120.5   19909300
2021-05-25  121.293121  124.0  124.0  119.0  119.5   29952600
2021-05-27  118.847694  121.5  125.5  121.5  125.0  172607800
...                ...    ...    ...    ...    ...        ...
2022-05-13  142.000000  142.0  144.5  141.0  144.0   11506000
2022-05-17  144.500000  144.5  145.5  142.5  143.0   15726500
2022-05-18  144.000000  144.0  146.0  142.5  145.0   20337000
2022-05-19  142.000000  142.0  143.5  142.0  142.0   10974800
2022-05-20  144.500000  144.5  145.0  143.0  143.5   12285100

[242 rows x 6 columns]

In [134]:
data.swaplevel(0, axis=1)

,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,...,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-20,34.653351,58.294136,119.336784,37.082794,38.015446,36.375,58.50,122.0,39.00,43.00,...,37.125,58.75,122.0,39.75,44.50,7247000,4212400,19972500,76811700,19739600
2021-05-21,33.700684,58.045013,117.869522,36.607372,38.236465,35.375,58.25,120.5,38.50,43.25,...,36.500,58.75,121.5,38.75,44.00,14357400,4274900,18864200,108867200,8873700
2021-05-24,33.819767,58.294136,115.913185,36.369663,38.678501,35.500,58.50,118.5,38.25,43.75,...,35.500,58.50,120.5,38.50,44.00,11257400,4087200,19909300,53404300,11868900
2021-05-25,34.057934,58.792374,121.293121,36.845085,39.341564,35.750,59.00,124.0,38.75,44.50,...,35.750,59.00,119.5,38.75,44.25,7975000,16935600,29952600,47606200,29194600
2021-05-27,35.367855,61.283577,118.847694,36.845085,40.446663,37.125,61.50,121.5,38.75,45.75,...,36.250,59.25,125.0,39.00,44.50,22177600,28266900,172607800,201215000,26043400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-13,37.250000,81.500000,142.000000,36.250000,45.500000,37.250,81.50,142.0,36.25,45.50,...,37.250,81.50,144.0,37.00,42.75,33105700,13604700,11506000,39847200,19793600
2022-05-17,37.500000,85.500000,144.500000,37.000000,46.250000,37.500,85.50,144.5,37.00,46.25,...,38.000,82.75,143.0,36.50,45.75,16144300,20432900,15726500,78725500,14741000
2022-05-18,38.500000,86.250000,144.000000,36.750000,47.250000,38.500,86.25,144.0,36.75,47.25,...,37.500,86.00,145.0,37.00,46.25,14100100,14148700,20337000,53076800,8443700
2022-05-19,37.500000,85.000000,142.000000,36.250000,46.000000,37.500,85.00,142.0,36.25,46.00,...,37.000,85.00,142.0,36.25,45.75,13871000,10825900,10974800,33653100,4866600
2022-05-20,37.750000,85.750000,144.500000,36.750000,46.750000,37.750,85.75,144.5,36.75,46.75,...,37.750,86.00,143.5,36.50,46.75,7105600,7472500,12285100,31182100,4919000

In [135]:
# data.swaplevel(0, axis=1).ta.rsi() - cannot run because multiple index

In [136]:
data.melt()

     variable_0 variable_1         value
0     Adj Close    COM7.BK  3.465335e+01
1     Adj Close    COM7.BK  3.370068e+01
2     Adj Close    COM7.BK  3.381977e+01
3     Adj Close    COM7.BK  3.405793e+01
4     Adj Close    COM7.BK  3.536786e+01
...         ...        ...           ...
7255     Volume     RCL.BK  1.979360e+07
7256     Volume     RCL.BK  1.474100e+07
7257     Volume     RCL.BK  8.443700e+06
7258     Volume     RCL.BK  4.866600e+06
7259     Volume     RCL.BK  4.919000e+06

[7260 rows x 3 columns]

In [137]:
data.unstack()

                    Date
Adj Close  COM7.BK  2021-05-20    3.465335e+01
                    2021-05-21    3.370068e+01
                    2021-05-24    3.381977e+01
                    2021-05-25    3.405793e+01
                    2021-05-27    3.536786e+01
                                      ...
Volume     RCL.BK   2022-05-13    1.979360e+07
                    2022-05-17    1.474100e+07
                    2022-05-18    8.443700e+06
                    2022-05-19    4.866600e+06
                    2022-05-20    4.919000e+06
Length: 7260, dtype: float64

In [138]:
data

            Adj Close                                                Close  \
              COM7.BK      EA.BK    KBANK.BK     PTT.BK     RCL.BK COM7.BK
Date
2021-05-20  34.653351  58.294136  119.336784  37.082794  38.015446  36.375
2021-05-21  33.700684  58.045013  117.869522  36.607372  38.236465  35.375
2021-05-24  33.819767  58.294136  115.913185  36.369663  38.678501  35.500
2021-05-25  34.057934  58.792374  121.293121  36.845085  39.341564  35.750
2021-05-27  35.367855  61.283577  118.847694  36.845085  40.446663  37.125
...               ...        ...         ...        ...        ...     ...
2022-05-13  37.250000  81.500000  142.000000  36.250000  45.500000  37.250
2022-05-17  37.500000  85.500000  144.500000  37.000000  46.250000  37.500
2022-05-18  38.500000  86.250000  144.000000  36.750000  47.250000  38.500
2022-05-19  37.500000  85.000000  142.000000  36.250000  46.000000  37.500
2022-05-20  37.750000  85.750000  144.500000  36.750000  46.750000  37.750

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2021-05-20  58.50    122.0  39.00  43.00  ...  37.125  58.75    122.0  39.75
2021-05-21  58.25    120.5  38.50  43.25  ...  36.500  58.75    121.5  38.75
2021-05-24  58.50    118.5  38.25  43.75  ...  35.500  58.50    120.5  38.50
2021-05-25  59.00    124.0  38.75  44.50  ...  35.750  59.00    119.5  38.75
2021-05-27  61.50    121.5  38.75  45.75  ...  36.250  59.25    125.0  39.00
...           ...      ...    ...    ...  ...     ...    ...      ...    ...
2022-05-13  81.50    142.0  36.25  45.50  ...  37.250  81.50    144.0  37.00
2022-05-17  85.50    144.5  37.00  46.25  ...  38.000  82.75    143.0  36.50
2022-05-18  86.25    144.0  36.75  47.25  ...  37.500  86.00    145.0  37.00
2022-05-19  85.00    142.0  36.25  46.00  ...  37.000  85.00    142.0  36.25
2022-05-20  85.75    144.5  36.75  46.75  ...  37.750  86.00    143.5  36.50

                     Volume
           RCL.BK   COM7.BK     EA.BK   KBANK.BK     PTT.BK    RCL.BK
Date
2021-05-20  44.50   7247000   4212400   19972500   76811700  19739600
2021-05-21  44.00  14357400   4274900   18864200  108867200   8873700
2021-05-24  44.00  11257400   4087200   19909300   53404300  11868900
2021-05-25  44.25   7975000  16935600   29952600   47606200  29194600
2021-05-27  44.50  22177600  28266900  172607800  201215000  26043400
...           ...       ...       ...        ...        ...       ...
2022-05-13  42.75  33105700  13604700   11506000   39847200  19793600
2022-05-17  45.75  16144300  20432900   15726500   78725500  14741000
2022-05-18  46.25  14100100  14148700   20337000   53076800   8443700
2022-05-19  45.75  13871000  10825900   10974800   33653100   4866600
2022-05-20  46.75   7105600   7472500   12285100   31182100   4919000

[242 rows x 30 columns]

In [139]:
data.stack()

                      Adj Close    Close     High      Low     Open    Volume
Date
2021-05-20 COM7.BK    34.653351   36.375   37.125   36.125   37.125   7247000
           EA.BK      58.294136   58.500   59.250   58.250   58.750   4212400
           KBANK.BK  119.336784  122.000  123.500  121.000  122.000  19972500
           PTT.BK     37.082794   39.000   39.750   38.750   39.750  76811700
           RCL.BK     38.015446   43.000   45.500   42.750   44.500  19739600
...                         ...      ...      ...      ...      ...       ...
2022-05-20 COM7.BK    37.750000   37.750   38.000   37.250   37.750   7105600
           EA.BK      85.750000   85.750   86.750   85.750   86.000   7472500
           KBANK.BK  144.500000  144.500  145.000  143.000  143.500  12285100
           PTT.BK     36.750000   36.750   37.000   36.500   36.500  31182100
           RCL.BK     46.750000   46.750   47.500   46.500   46.750   4919000

[1210 rows x 6 columns]

In [140]:
data.stack().unstack()

            Adj Close                                                Close  \
              COM7.BK      EA.BK    KBANK.BK     PTT.BK     RCL.BK COM7.BK
Date
2021-05-20  34.653351  58.294136  119.336784  37.082794  38.015446  36.375
2021-05-21  33.700684  58.045013  117.869522  36.607372  38.236465  35.375
2021-05-24  33.819767  58.294136  115.913185  36.369663  38.678501  35.500
2021-05-25  34.057934  58.792374  121.293121  36.845085  39.341564  35.750
2021-05-27  35.367855  61.283577  118.847694  36.845085  40.446663  37.125
...               ...        ...         ...        ...        ...     ...
2022-05-13  37.250000  81.500000  142.000000  36.250000  45.500000  37.250
2022-05-17  37.500000  85.500000  144.500000  37.000000  46.250000  37.500
2022-05-18  38.500000  86.250000  144.000000  36.750000  47.250000  38.500
2022-05-19  37.500000  85.000000  142.000000  36.250000  46.000000  37.500
2022-05-20  37.750000  85.750000  144.500000  36.750000  46.750000  37.750

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2021-05-20  58.50    122.0  39.00  43.00  ...  37.125  58.75    122.0  39.75
2021-05-21  58.25    120.5  38.50  43.25  ...  36.500  58.75    121.5  38.75
2021-05-24  58.50    118.5  38.25  43.75  ...  35.500  58.50    120.5  38.50
2021-05-25  59.00    124.0  38.75  44.50  ...  35.750  59.00    119.5  38.75
2021-05-27  61.50    121.5  38.75  45.75  ...  36.250  59.25    125.0  39.00
...           ...      ...    ...    ...  ...     ...    ...      ...    ...
2022-05-13  81.50    142.0  36.25  45.50  ...  37.250  81.50    144.0  37.00
2022-05-17  85.50    144.5  37.00  46.25  ...  38.000  82.75    143.0  36.50
2022-05-18  86.25    144.0  36.75  47.25  ...  37.500  86.00    145.0  37.00
2022-05-19  85.00    142.0  36.25  46.00  ...  37.000  85.00    142.0  36.25
2022-05-20  85.75    144.5  36.75  46.75  ...  37.750  86.00    143.5  36.50

                     Volume
           RCL.BK   COM7.BK     EA.BK   KBANK.BK     PTT.BK    RCL.BK
Date
2021-05-20  44.50   7247000   4212400   19972500   76811700  19739600
2021-05-21  44.00  14357400   4274900   18864200  108867200   8873700
2021-05-24  44.00  11257400   4087200   19909300   53404300  11868900
2021-05-25  44.25   7975000  16935600   29952600   47606200  29194600
2021-05-27  44.50  22177600  28266900  172607800  201215000  26043400
...           ...       ...       ...        ...        ...       ...
2022-05-13  42.75  33105700  13604700   11506000   39847200  19793600
2022-05-17  45.75  16144300  20432900   15726500   78725500  14741000
2022-05-18  46.25  14100100  14148700   20337000   53076800   8443700
2022-05-19  45.75  13871000  10825900   10974800   33653100   4866600
2022-05-20  46.75   7105600   7472500   12285100   31182100   4919000

[242 rows x 30 columns]

In [141]:
df = data.stack()

In [142]:
df.swaplevel(0)

                      Adj Close    Close     High      Low     Open    Volume
         Date
COM7.BK  2021-05-20   34.653351   36.375   37.125   36.125   37.125   7247000
EA.BK    2021-05-20   58.294136   58.500   59.250   58.250   58.750   4212400
KBANK.BK 2021-05-20  119.336784  122.000  123.500  121.000  122.000  19972500
PTT.BK   2021-05-20   37.082794   39.000   39.750   38.750   39.750  76811700
RCL.BK   2021-05-20   38.015446   43.000   45.500   42.750   44.500  19739600
...                         ...      ...      ...      ...      ...       ...
COM7.BK  2022-05-20   37.750000   37.750   38.000   37.250   37.750   7105600
EA.BK    2022-05-20   85.750000   85.750   86.750   85.750   86.000   7472500
KBANK.BK 2022-05-20  144.500000  144.500  145.000  143.000  143.500  12285100
PTT.BK   2022-05-20   36.750000   36.750   37.000   36.500   36.500  31182100
RCL.BK   2022-05-20   46.750000   46.750   47.500   46.500   46.750   4919000

[1210 rows x 6 columns]

In [143]:
df.sort_index(level=0)

                      Adj Close    Close     High      Low     Open    Volume
Date
2021-05-20 COM7.BK    34.653351   36.375   37.125   36.125   37.125   7247000
           EA.BK      58.294136   58.500   59.250   58.250   58.750   4212400
           KBANK.BK  119.336784  122.000  123.500  121.000  122.000  19972500
           PTT.BK     37.082794   39.000   39.750   38.750   39.750  76811700
           RCL.BK     38.015446   43.000   45.500   42.750   44.500  19739600
...                         ...      ...      ...      ...      ...       ...
2022-05-20 COM7.BK    37.750000   37.750   38.000   37.250   37.750   7105600
           EA.BK      85.750000   85.750   86.750   85.750   86.000   7472500
           KBANK.BK  144.500000  144.500  145.000  143.000  143.500  12285100
           PTT.BK     36.750000   36.750   37.000   36.500   36.500  31182100
           RCL.BK     46.750000   46.750   47.500   46.500   46.750   4919000

[1210 rows x 6 columns]

In [144]:
df.sort_index(level=1)

                    Adj Close   Close    High     Low    Open    Volume
Date
2021-05-20 COM7.BK  34.653351  36.375  37.125  36.125  37.125   7247000
2021-05-21 COM7.BK  33.700684  35.375  36.875  35.375  36.500  14357400
2021-05-24 COM7.BK  33.819767  35.500  35.750  34.875  35.500  11257400
2021-05-25 COM7.BK  34.057934  35.750  36.500  35.500  35.750   7975000
2021-05-27 COM7.BK  35.367855  37.125  37.250  36.125  36.250  22177600
...                       ...     ...     ...     ...     ...       ...
2022-05-13 RCL.BK   45.500000  45.500  46.250  42.750  42.750  19793600
2022-05-17 RCL.BK   46.250000  46.250  46.750  44.000  45.750  14741000
2022-05-18 RCL.BK   47.250000  47.250  47.500  45.750  46.250   8443700
2022-05-19 RCL.BK   46.000000  46.000  46.500  45.750  45.750   4866600
2022-05-20 RCL.BK   46.750000  46.750  47.500  46.500  46.750   4919000

[1210 rows x 6 columns]

In [145]:
df2 = df.sort_index(level=1)

In [146]:
df2.index.names = ['Date', 'Stock']

In [147]:
df2.index.names

FrozenList(['Date', 'Stock'])

In [148]:
df2.iloc[df2.index.get_level_values('Stock') == 'RCL.BK']

                   Adj Close  Close   High    Low   Open    Volume
Date       Stock
2021-05-20 RCL.BK  38.015446  43.00  45.50  42.75  44.50  19739600
2021-05-21 RCL.BK  38.236465  43.25  44.25  43.25  44.00   8873700
2021-05-24 RCL.BK  38.678501  43.75  44.25  43.25  44.00  11868900
2021-05-25 RCL.BK  39.341564  44.50  47.00  43.75  44.25  29194600
2021-05-27 RCL.BK  40.446663  45.75  45.75  43.50  44.50  26043400
...                      ...    ...    ...    ...    ...       ...
2022-05-13 RCL.BK  45.500000  45.50  46.25  42.75  42.75  19793600
2022-05-17 RCL.BK  46.250000  46.25  46.75  44.00  45.75  14741000
2022-05-18 RCL.BK  47.250000  47.25  47.50  45.75  46.25   8443700
2022-05-19 RCL.BK  46.000000  46.00  46.50  45.75  45.75   4866600
2022-05-20 RCL.BK  46.750000  46.75  47.50  46.50  46.75   4919000

[242 rows x 6 columns]

In [149]:
df2.iloc[df2.index.get_level_values('Stock') == 'PTT.BK']

                   Adj Close  Close   High    Low   Open     Volume
Date       Stock
2021-05-20 PTT.BK  37.082794  39.00  39.75  38.75  39.75   76811700
2021-05-21 PTT.BK  36.607372  38.50  39.00  38.00  38.75  108867200
2021-05-24 PTT.BK  36.369663  38.25  39.00  38.00  38.50   53404300
2021-05-25 PTT.BK  36.845085  38.75  39.00  38.50  38.75   47606200
2021-05-27 PTT.BK  36.845085  38.75  39.25  38.50  39.00  201215000
...                      ...    ...    ...    ...    ...        ...
2022-05-13 PTT.BK  36.250000  36.25  37.00  36.25  37.00   39847200
2022-05-17 PTT.BK  37.000000  37.00  37.00  36.25  36.50   78725500
2022-05-18 PTT.BK  36.750000  36.75  37.25  36.75  37.00   53076800
2022-05-19 PTT.BK  36.250000  36.25  36.50  36.25  36.25   33653100
2022-05-20 PTT.BK  36.750000  36.75  37.00  36.50  36.50   31182100

[242 rows x 6 columns]

In [150]:
df

                      Adj Close    Close     High      Low     Open    Volume
Date
2021-05-20 COM7.BK    34.653351   36.375   37.125   36.125   37.125   7247000
           EA.BK      58.294136   58.500   59.250   58.250   58.750   4212400
           KBANK.BK  119.336784  122.000  123.500  121.000  122.000  19972500
           PTT.BK     37.082794   39.000   39.750   38.750   39.750  76811700
           RCL.BK     38.015446   43.000   45.500   42.750   44.500  19739600
...                         ...      ...      ...      ...      ...       ...
2022-05-20 COM7.BK    37.750000   37.750   38.000   37.250   37.750   7105600
           EA.BK      85.750000   85.750   86.750   85.750   86.000   7472500
           KBANK.BK  144.500000  144.500  145.000  143.000  143.500  12285100
           PTT.BK     36.750000   36.750   37.000   36.500   36.500  31182100
           RCL.BK     46.750000   46.750   47.500   46.500   46.750   4919000

[1210 rows x 6 columns]

In [151]:
df2.ta.ema(10).head(20)

Date        Stock
2021-05-20  COM7.BK          NaN
2021-05-21  COM7.BK          NaN
2021-05-24  COM7.BK          NaN
2021-05-25  COM7.BK          NaN
2021-05-27  COM7.BK          NaN
2021-05-28  COM7.BK          NaN
2021-05-31  COM7.BK          NaN
2021-06-01  COM7.BK          NaN
2021-06-02  COM7.BK          NaN
2021-06-04  COM7.BK    35.950000
2021-06-07  COM7.BK    35.709091
2021-06-08  COM7.BK    35.489256
2021-06-09  COM7.BK    35.354846
2021-06-10  COM7.BK    35.176692
2021-06-11  COM7.BK    34.985475
2021-06-14  COM7.BK    34.738116
2021-06-15  COM7.BK    34.513004
2021-06-16  COM7.BK    34.578822
2021-06-17  COM7.BK    34.587218
2021-06-18  COM7.BK    34.684996
Name: EMA_10, dtype: float64

In [152]:
df2.ta.ema(10).iloc[230:260]

Date        Stock
2022-05-03  COM7.BK    41.867140
2022-05-05  COM7.BK    41.482205
2022-05-06  COM7.BK    41.076350
2022-05-09  COM7.BK    40.562468
2022-05-10  COM7.BK    40.096565
2022-05-11  COM7.BK    39.351735
2022-05-12  COM7.BK    38.787783
2022-05-13  COM7.BK    38.508186
2022-05-17  COM7.BK    38.324880
2022-05-18  COM7.BK    38.356720
2022-05-19  COM7.BK    38.200952
2022-05-20  COM7.BK    38.118961
2021-05-20  EA.BK      41.824605
2021-05-21  EA.BK      44.811040
2021-05-24  EA.BK      47.299942
2021-05-25  EA.BK      49.427225
2021-05-27  EA.BK      51.622275
2021-05-28  EA.BK      53.054589
2021-05-31  EA.BK      54.362845
2021-06-01  EA.BK      55.615055
2021-06-02  EA.BK      56.639591
2021-06-04  EA.BK      57.205120
2021-06-07  EA.BK      57.667825
2021-06-08  EA.BK      58.182766
2021-06-09  EA.BK      59.194990
2021-06-10  EA.BK      59.886810
2021-06-11  EA.BK      60.452845
2021-06-14  EA.BK      61.097782
2021-06-15  EA.BK      61.443640
2021-06-16  EA.BK      61.590251
Name: EMA_10, dtype: float64

In [153]:
df2.ta.rsi()

Date        Stock
2021-05-20  COM7.BK          NaN
2021-05-21  COM7.BK          NaN
2021-05-24  COM7.BK          NaN
2021-05-25  COM7.BK          NaN
2021-05-27  COM7.BK          NaN
                         ...
2022-05-13  RCL.BK     55.359048
2022-05-17  RCL.BK     57.689472
2022-05-18  RCL.BK     60.639876
2022-05-19  RCL.BK     55.436080
2022-05-20  RCL.BK     57.777309
Name: RSI_14, Length: 1210, dtype: float64

In [154]:
df2.ta.macd()

                    MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Date       Stock
2021-05-20 COM7.BK           NaN            NaN            NaN
2021-05-21 COM7.BK           NaN            NaN            NaN
2021-05-24 COM7.BK           NaN            NaN            NaN
2021-05-25 COM7.BK           NaN            NaN            NaN
2021-05-27 COM7.BK           NaN            NaN            NaN
...                          ...            ...            ...
2022-05-13 RCL.BK      -0.387902       0.140818      -0.528720
2022-05-17 RCL.BK      -0.149376       0.303475      -0.452851
2022-05-18 RCL.BK       0.118977       0.457462      -0.338485
2022-05-19 RCL.BK       0.228154       0.453312      -0.225157
2022-05-20 RCL.BK       0.370921       0.476863      -0.105942

[1210 rows x 3 columns]

In [155]:
df2.reset_index()

           Date    Stock  Adj Close   Close    High     Low    Open    Volume
0    2021-05-20  COM7.BK  34.653351  36.375  37.125  36.125  37.125   7247000
1    2021-05-21  COM7.BK  33.700684  35.375  36.875  35.375  36.500  14357400
2    2021-05-24  COM7.BK  33.819767  35.500  35.750  34.875  35.500  11257400
3    2021-05-25  COM7.BK  34.057934  35.750  36.500  35.500  35.750   7975000
4    2021-05-27  COM7.BK  35.367855  37.125  37.250  36.125  36.250  22177600
...         ...      ...        ...     ...     ...     ...     ...       ...
1205 2022-05-13   RCL.BK  45.500000  45.500  46.250  42.750  42.750  19793600
1206 2022-05-17   RCL.BK  46.250000  46.250  46.750  44.000  45.750  14741000
1207 2022-05-18   RCL.BK  47.250000  47.250  47.500  45.750  46.250   8443700
1208 2022-05-19   RCL.BK  46.000000  46.000  46.500  45.750  45.750   4866600
1209 2022-05-20   RCL.BK  46.750000  46.750  47.500  46.500  46.750   4919000

[1210 rows x 8 columns]

In [156]:
df2.reset_index().ta.macd()

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
1205     -0.387902       0.140818      -0.528720
1206     -0.149376       0.303475      -0.452851
1207      0.118977       0.457462      -0.338485
1208      0.228154       0.453312      -0.225157
1209      0.370921       0.476863      -0.105942

[1210 rows x 3 columns]

In [157]:
df3 = df2.reset_index()

In [158]:
df3

           Date    Stock  Adj Close   Close    High     Low    Open    Volume
0    2021-05-20  COM7.BK  34.653351  36.375  37.125  36.125  37.125   7247000
1    2021-05-21  COM7.BK  33.700684  35.375  36.875  35.375  36.500  14357400
2    2021-05-24  COM7.BK  33.819767  35.500  35.750  34.875  35.500  11257400
3    2021-05-25  COM7.BK  34.057934  35.750  36.500  35.500  35.750   7975000
4    2021-05-27  COM7.BK  35.367855  37.125  37.250  36.125  36.250  22177600
...         ...      ...        ...     ...     ...     ...     ...       ...
1205 2022-05-13   RCL.BK  45.500000  45.500  46.250  42.750  42.750  19793600
1206 2022-05-17   RCL.BK  46.250000  46.250  46.750  44.000  45.750  14741000
1207 2022-05-18   RCL.BK  47.250000  47.250  47.500  45.750  46.250   8443700
1208 2022-05-19   RCL.BK  46.000000  46.000  46.500  45.750  45.750   4866600
1209 2022-05-20   RCL.BK  46.750000  46.750  47.500  46.500  46.750   4919000

[1210 rows x 8 columns]

In [159]:
df3.set_index('Date').iloc[:3]

              Stock  Adj Close   Close    High     Low    Open    Volume
Date
2021-05-20  COM7.BK  34.653351  36.375  37.125  36.125  37.125   7247000
2021-05-21  COM7.BK  33.700684  35.375  36.875  35.375  36.500  14357400
2021-05-24  COM7.BK  33.819767  35.500  35.750  34.875  35.500  11257400

In [160]:
df3.set_index('Date').loc[:'2021-05-28']

,Stock,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2021-05-20,COM7.BK,34.653351,36.375,37.125,36.125,37.125,7247000
2021-05-21,COM7.BK,33.700684,35.375,36.875,35.375,36.500,14357400
2021-05-24,COM7.BK,33.819767,35.500,35.750,34.875,35.500,11257400
2021-05-25,COM7.BK,34.057934,35.750,36.500,35.500,35.750,7975000
2021-05-27,COM7.BK,35.367855,37.125,37.250,36.125,36.250,22177600
2021-05-28,COM7.BK,35.367855,37.125,38.500,36.875,37.250,21661600
2021-05-20,EA.BK,58.294136,58.500,59.250,58.250,58.750,4212400
2021-05-21,EA.BK,58.045013,58.250,59.000,58.000,58.750,4274900
2021-05-24,EA.BK,58.294136,58.500,58.750,58.000,58.500,4087200
2021-05-25,EA.BK,58.792374,59.000,60.000,58.250,59.000,16935600
2021-05-27,EA.BK,61.283577,61.500,61.500,59.250,59.250,28266900
2021-05-28,EA.BK,59.290615,59.500,61.750,59.250,61.500,10691600
2021-05-20,KBANK.BK,119.336784,122.000,123.500,121.000,122.000,19972500
2021-05-21,KBANK.BK,117.869522,120.500,122.000,120.000,121.500,18864200
2021-05-24,KBANK.BK,115.913185,118.500,121.000,118.500,120.500,19909300
2021-05-25,KBANK.BK,121.293121,124.000,124.000,119.000,119.500,29952600
2021-05-27,KBANK.BK,118.847694,121.500,125.500,121.500,125.000,172607800
2021-05-28,KBANK.BK,116.891357,119.500,123.000,119.500,123.000,44942800
2021-05-20,PTT.BK,37.082794,39.000,39.750,38.750,39.750,76811700
2021-05-21,PTT.BK,36.607372,38.500,39.000,38.000,38.750,108867200
2021-05-24,PTT.BK,36.369663,38.250,39.000,38.000,38.500,53404300
2021-05-25,PTT.BK,36.845085,38.750,39.000,38.500,38.750,47606200
2021-05-27,PTT.BK,36.845085,38.750,39.250,38.500,39.000,201215000
2021-05-28,PTT.BK,37.320503,39.250,39.500,39.000,39.250,47154300
2021-05-20,RCL.BK,38.015446,43.000,45.500,42.750,44.500,19739600
2021-05-21,RCL.BK,38.236465,43.250,44.250,43.250,44.000,8873700
2021-05-24,RCL.BK,38.678501,43.750,44.250,43.250,44.000,11868900
2021-05-25,RCL.BK,39.341564,44.500,47.000,43.750,44.250,29194600
2021-05-27,RCL.BK,40.446663,45.750,45.750,43.500,44.500,26043400
2021-05-28,RCL.BK,43.982986,49.750,51.000,45.250,45.750,47136700

In [161]:
df3

           Date    Stock  Adj Close   Close    High     Low    Open    Volume
0    2021-05-20  COM7.BK  34.653351  36.375  37.125  36.125  37.125   7247000
1    2021-05-21  COM7.BK  33.700684  35.375  36.875  35.375  36.500  14357400
2    2021-05-24  COM7.BK  33.819767  35.500  35.750  34.875  35.500  11257400
3    2021-05-25  COM7.BK  34.057934  35.750  36.500  35.500  35.750   7975000
4    2021-05-27  COM7.BK  35.367855  37.125  37.250  36.125  36.250  22177600
...         ...      ...        ...     ...     ...     ...     ...       ...
1205 2022-05-13   RCL.BK  45.500000  45.500  46.250  42.750  42.750  19793600
1206 2022-05-17   RCL.BK  46.250000  46.250  46.750  44.000  45.750  14741000
1207 2022-05-18   RCL.BK  47.250000  47.250  47.500  45.750  46.250   8443700
1208 2022-05-19   RCL.BK  46.000000  46.000  46.500  45.750  45.750   4866600
1209 2022-05-20   RCL.BK  46.750000  46.750  47.500  46.500  46.750   4919000

[1210 rows x 8 columns]

In [162]:
df4 = df2.reset_index().set_index('Stock')

In [163]:
df4

              Date  Adj Close   Close    High     Low    Open    Volume
Stock
COM7.BK 2021-05-20  34.653351  36.375  37.125  36.125  37.125   7247000
COM7.BK 2021-05-21  33.700684  35.375  36.875  35.375  36.500  14357400
COM7.BK 2021-05-24  33.819767  35.500  35.750  34.875  35.500  11257400
COM7.BK 2021-05-25  34.057934  35.750  36.500  35.500  35.750   7975000
COM7.BK 2021-05-27  35.367855  37.125  37.250  36.125  36.250  22177600
...            ...        ...     ...     ...     ...     ...       ...
RCL.BK  2022-05-13  45.500000  45.500  46.250  42.750  42.750  19793600
RCL.BK  2022-05-17  46.250000  46.250  46.750  44.000  45.750  14741000
RCL.BK  2022-05-18  47.250000  47.250  47.500  45.750  46.250   8443700
RCL.BK  2022-05-19  46.000000  46.000  46.500  45.750  45.750   4866600
RCL.BK  2022-05-20  46.750000  46.750  47.500  46.500  46.750   4919000

[1210 rows x 7 columns]

In [164]:
df4.ta.macd()

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK      -0.387902       0.140818      -0.528720
RCL.BK      -0.149376       0.303475      -0.452851
RCL.BK       0.118977       0.457462      -0.338485
RCL.BK       0.228154       0.453312      -0.225157
RCL.BK       0.370921       0.476863      -0.105942

[1210 rows x 3 columns]

In [165]:
df4.iloc[220:260]

              Date  Adj Close  Close   High    Low   Open    Volume
Stock
COM7.BK 2022-04-18  40.505985  41.50  42.25  41.25  41.50   5173200
COM7.BK 2022-04-19  41.726048  42.75  43.50  41.75  41.75  18481200
COM7.BK 2022-04-20  41.482033  42.50  43.25  42.25  43.25   8631900
COM7.BK 2022-04-21  41.726048  42.75  43.00  42.50  42.75   2944600
COM7.BK 2022-04-22  41.238022  42.25  42.75  41.75  42.50   6517500
COM7.BK 2022-04-25  41.726048  42.75  43.00  41.50  41.75   8387300
COM7.BK 2022-04-26  41.238022  42.25  43.25  42.25  43.00   6414800
COM7.BK 2022-04-27  40.750000  41.75  42.25  41.50  41.75   6098900
COM7.BK 2022-04-28  42.000000  42.00  42.25  41.25  42.00   8551100
COM7.BK 2022-04-29  41.750000  41.75  42.25  41.50  41.75   6498400
COM7.BK 2022-05-03  40.750000  40.75  42.00  40.25  41.75  11865700
COM7.BK 2022-05-05  39.750000  39.75  41.25  39.75  41.00  14359800
COM7.BK 2022-05-06  39.250000  39.25  39.75  37.75  38.00  14151600
COM7.BK 2022-05-09  38.250000  38.25  39.00  37.75  38.75   9056600
COM7.BK 2022-05-10  38.000000  38.00  38.50  37.00  37.25  14768500
COM7.BK 2022-05-11  36.000000  36.00  38.00  35.50  38.00  23042200
COM7.BK 2022-05-12  36.250000  36.25  37.00  35.00  36.00  32407000
COM7.BK 2022-05-13  37.250000  37.25  37.75  35.75  37.25  33105700
COM7.BK 2022-05-17  37.500000  37.50  38.00  36.75  38.00  16144300
COM7.BK 2022-05-18  38.500000  38.50  38.75  37.50  37.50  14100100
COM7.BK 2022-05-19  37.500000  37.50  37.75  36.75  37.00  13871000
COM7.BK 2022-05-20  37.750000  37.75  38.00  37.25  37.75   7105600
EA.BK   2021-05-20  58.294136  58.50  59.25  58.25  58.75   4212400
EA.BK   2021-05-21  58.045013  58.25  59.00  58.00  58.75   4274900
EA.BK   2021-05-24  58.294136  58.50  58.75  58.00  58.50   4087200
EA.BK   2021-05-25  58.792374  59.00  60.00  58.25  59.00  16935600
EA.BK   2021-05-27  61.283577  61.50  61.50  59.25  59.25  28266900
EA.BK   2021-05-28  59.290615  59.50  61.75  59.25  61.50  10691600
EA.BK   2021-05-31  60.037975  60.25  60.75  59.00  59.50  10476100
EA.BK   2021-06-01  61.034458  61.25  61.50  60.25  60.75  13656500
EA.BK   2021-06-02  61.034458  61.25  61.75  61.00  61.50   6890500
EA.BK   2021-06-04  59.539738  59.75  61.50  59.75  61.25   6424800
EA.BK   2021-06-07  59.539738  59.75  60.75  59.50  60.00   8400200
EA.BK   2021-06-08  60.287098  60.50  60.75  59.75  60.00   6200900
EA.BK   2021-06-09  63.525661  63.75  64.00  60.50  61.00  53408600
EA.BK   2021-06-10  62.778297  63.00  64.50  62.75  64.00  28905500
EA.BK   2021-06-11  62.778297  63.00  63.50  62.50  63.25   6982400
EA.BK   2021-06-14  63.774780  64.00  64.50  62.75  63.25  16653200
EA.BK   2021-06-15  62.778297  63.00  64.50  62.75  64.25  13044500
EA.BK   2021-06-16  62.030937  62.25  63.50  62.25  63.50   8599200

In [166]:
df4.ta.rsi(append=True)
df4.ta.macd(append=True)

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK      -0.387902       0.140818      -0.528720
RCL.BK      -0.149376       0.303475      -0.452851
RCL.BK       0.118977       0.457462      -0.338485
RCL.BK       0.228154       0.453312      -0.225157
RCL.BK       0.370921       0.476863      -0.105942

[1210 rows x 3 columns]

In [167]:
df4

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2021-05-20,34.653351,36.375,37.125,36.125,37.125,7247000,NaN,NaN,NaN,NaN
COM7.BK,2021-05-21,33.700684,35.375,36.875,35.375,36.500,14357400,NaN,NaN,NaN,NaN
COM7.BK,2021-05-24,33.819767,35.500,35.750,34.875,35.500,11257400,NaN,NaN,NaN,NaN
COM7.BK,2021-05-25,34.057934,35.750,36.500,35.500,35.750,7975000,NaN,NaN,NaN,NaN
COM7.BK,2021-05-27,35.367855,37.125,37.250,36.125,36.250,22177600,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
RCL.BK,2022-05-13,45.500000,45.500,46.250,42.750,42.750,19793600,55.359048,-0.387902,0.140818,-0.528720
RCL.BK,2022-05-17,46.250000,46.250,46.750,44.000,45.750,14741000,57.689472,-0.149376,0.303475,-0.452851
RCL.BK,2022-05-18,47.250000,47.250,47.500,45.750,46.250,8443700,60.639876,0.118977,0.457462,-0.338485
RCL.BK,2022-05-19,46.000000,46.000,46.500,45.750,45.750,4866600,55.436080,0.228154,0.453312,-0.225157
RCL.BK,2022-05-20,46.750000,46.750,47.500,46.500,46.750,4919000,57.777309,0.370921,0.476863,-0.105942

In [168]:
df5 = df4.reset_index()

In [169]:
df5

,Stock,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
0,COM7.BK,2021-05-20,34.653351,36.375,37.125,36.125,37.125,7247000,NaN,NaN,NaN,NaN
1,COM7.BK,2021-05-21,33.700684,35.375,36.875,35.375,36.500,14357400,NaN,NaN,NaN,NaN
2,COM7.BK,2021-05-24,33.819767,35.500,35.750,34.875,35.500,11257400,NaN,NaN,NaN,NaN
3,COM7.BK,2021-05-25,34.057934,35.750,36.500,35.500,35.750,7975000,NaN,NaN,NaN,NaN
4,COM7.BK,2021-05-27,35.367855,37.125,37.250,36.125,36.250,22177600,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1205,RCL.BK,2022-05-13,45.500000,45.500,46.250,42.750,42.750,19793600,55.359048,-0.387902,0.140818,-0.528720
1206,RCL.BK,2022-05-17,46.250000,46.250,46.750,44.000,45.750,14741000,57.689472,-0.149376,0.303475,-0.452851
1207,RCL.BK,2022-05-18,47.250000,47.250,47.500,45.750,46.250,8443700,60.639876,0.118977,0.457462,-0.338485
1208,RCL.BK,2022-05-19,46.000000,46.000,46.500,45.750,45.750,4866600,55.436080,0.228154,0.453312,-0.225157
1209,RCL.BK,2022-05-20,46.750000,46.750,47.500,46.500,46.750,4919000,57.777309,0.370921,0.476863,-0.105942

In [170]:
tickers

'PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK'

In [171]:
for i in tickers.split():
    print(i)

PTT.BK
KBANK.BK
EA.BK
COM7.BK
RCL.BK

In [172]:
df5.describe()

,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
count,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1.210000e+03,1196.000000,1177.000000,1177.000000,1177.000000
mean,65.809111,67.582335,68.533471,66.748657,67.642769,2.627286e+07,51.422901,0.054395,0.000694,0.053701
std,38.969667,39.081214,39.398967,38.678679,39.058932,2.492243e+07,14.951875,4.361928,1.247806,4.132857
min,29.532753,31.000000,31.750000,30.500000,31.125000,1.212000e+06,6.618413,-31.310257,-12.581555,-27.452863
25%,37.511360,38.875000,39.250000,38.500000,39.000000,9.760975e+06,43.059508,-0.483450,-0.331092,-0.422107
50%,45.118299,47.375000,48.750000,46.250000,47.500000,1.774450e+07,51.997471,0.277452,0.000988,0.284655
75%,91.178009,91.500000,92.625000,89.687500,90.625000,3.429595e+07,60.208621,1.240379,0.296443,1.168286
max,167.484726,170.500000,175.000000,169.000000,172.000000,2.012150e+08,92.917069,9.337742,4.776037,8.666740

In [173]:
df5.groupby('Stock').max()

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2022-05-20,42.000000,43.0,43.75,42.50,43.50,83622400,75.458558,1.103134,0.405569,0.893127
EA.BK,2022-05-20,100.000000,100.0,105.50,98.00,99.25,121563500,88.124556,5.691557,2.697513,5.284758
KBANK.BK,2022-05-20,167.484726,170.5,175.00,169.00,172.00,172607800,89.197376,9.337742,4.776037,8.666740
PTT.BK,2022-05-20,40.000000,41.5,42.00,41.25,41.75,201215000,67.817909,0.751690,3.941819,0.572240
RCL.BK,2022-05-20,56.139088,63.5,67.75,61.75,64.50,96732400,92.917069,5.804065,2.049752,5.194860

In [174]:
df5.groupby('Stock')['Close'].max()

Stock
COM7.BK      43.0
EA.BK       100.0
KBANK.BK    170.5
PTT.BK       41.5
RCL.BK       63.5
Name: Close, dtype: float64

In [175]:
df5.groupby('Stock')['Close'].transform(max)

0       43.0
1       43.0
2       43.0
3       43.0
4       43.0
        ...
1205    63.5
1206    63.5
1207    63.5
1208    63.5
1209    63.5
Name: Close, Length: 1210, dtype: float64

In [176]:
df5['52-week-high'] = df5.groupby('Stock')['Close'].transform('max')
df5['52-week-low'] = df5.groupby('Stock')['Close'].transform('min')

In [177]:
df5['from-high'] = df5['Close']/df5['52-week-high']-1

In [178]:
df5

,Stock,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high
0,COM7.BK,2021-05-20,34.653351,36.375,37.125,36.125,37.125,7247000,NaN,NaN,NaN,NaN,43.0,31.00,-0.154070
1,COM7.BK,2021-05-21,33.700684,35.375,36.875,35.375,36.500,14357400,NaN,NaN,NaN,NaN,43.0,31.00,-0.177326
2,COM7.BK,2021-05-24,33.819767,35.500,35.750,34.875,35.500,11257400,NaN,NaN,NaN,NaN,43.0,31.00,-0.174419
3,COM7.BK,2021-05-25,34.057934,35.750,36.500,35.500,35.750,7975000,NaN,NaN,NaN,NaN,43.0,31.00,-0.168605
4,COM7.BK,2021-05-27,35.367855,37.125,37.250,36.125,36.250,22177600,NaN,NaN,NaN,NaN,43.0,31.00,-0.136628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,RCL.BK,2022-05-13,45.500000,45.500,46.250,42.750,42.750,19793600,55.359048,-0.387902,0.140818,-0.528720,63.5,38.75,-0.283465
1206,RCL.BK,2022-05-17,46.250000,46.250,46.750,44.000,45.750,14741000,57.689472,-0.149376,0.303475,-0.452851,63.5,38.75,-0.271654
1207,RCL.BK,2022-05-18,47.250000,47.250,47.500,45.750,46.250,8443700,60.639876,0.118977,0.457462,-0.338485,63.5,38.75,-0.255906
1208,RCL.BK,2022-05-19,46.000000,46.000,46.500,45.750,45.750,4866600,55.436080,0.228154,0.453312,-0.225157,63.5,38.75,-0.275591
1209,RCL.BK,2022-05-20,46.750000,46.750,47.500,46.500,46.750,4919000,57.777309,0.370921,0.476863,-0.105942,63.5,38.75,-0.263780

In [179]:
df5.loc[(df5['RSI_14'] > 50) & 
        (df5['MACDh_12_26_9'] > 0) & 
        (df5['MACD_12_26_9'] > 0) &
        (df5['from-high'] > -0.2), 'Action'] = 'Hodl'
df5.loc[(df5['RSI_14'] > 50) & 
        (df5['MACDh_12_26_9'] < 0) & 
        (df5['from-high'] > -0.2), 'Action'] = 'Aware'

In [180]:
from datetime import date

date.today()

datetime.date(2022, 5, 22)

In [181]:
today = date.today().strftime("%Y-%m-%d")

In [182]:
today

'2022-05-22'

In [183]:
df5 = df5.set_index('Date')

In [184]:
df5

,Stock,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high,Action
Date,,,,,,,,,,,,,,,
2021-05-20,COM7.BK,34.653351,36.375,37.125,36.125,37.125,7247000,NaN,NaN,NaN,NaN,43.0,31.00,-0.154070,NaN
2021-05-21,COM7.BK,33.700684,35.375,36.875,35.375,36.500,14357400,NaN,NaN,NaN,NaN,43.0,31.00,-0.177326,NaN
2021-05-24,COM7.BK,33.819767,35.500,35.750,34.875,35.500,11257400,NaN,NaN,NaN,NaN,43.0,31.00,-0.174419,NaN
2021-05-25,COM7.BK,34.057934,35.750,36.500,35.500,35.750,7975000,NaN,NaN,NaN,NaN,43.0,31.00,-0.168605,NaN
2021-05-27,COM7.BK,35.367855,37.125,37.250,36.125,36.250,22177600,NaN,NaN,NaN,NaN,43.0,31.00,-0.136628,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-13,RCL.BK,45.500000,45.500,46.250,42.750,42.750,19793600,55.359048,-0.387902,0.140818,-0.528720,63.5,38.75,-0.283465,NaN
2022-05-17,RCL.BK,46.250000,46.250,46.750,44.000,45.750,14741000,57.689472,-0.149376,0.303475,-0.452851,63.5,38.75,-0.271654,NaN
2022-05-18,RCL.BK,47.250000,47.250,47.500,45.750,46.250,8443700,60.639876,0.118977,0.457462,-0.338485,63.5,38.75,-0.255906,NaN
2022-05-19,RCL.BK,46.000000,46.000,46.500,45.750,45.750,4866600,55.436080,0.228154,0.453312,-0.225157,63.5,38.75,-0.275591,NaN
2022-05-20,RCL.BK,46.750000,46.750,47.500,46.500,46.750,4919000,57.777309,0.370921,0.476863,-0.105942,63.5,38.75,-0.263780,NaN

In [186]:
df5.loc[today] # empty df because data from yfinance not present today data

Empty DataFrame
Columns: [Stock, Adj Close, Close, High, Low, Open, Volume, RSI_14, MACD_12_26_9, MACDh_12_26_9, MACDs_12_26_9, 52-week-high, 52-week-low, from-high, Action]
Index: []